.emptyCartSpan{
    font-size: 50px;
    margin-left: 480px;
}

.orderBtn{
    margin-left: 550px;
}

.transactionLimit{
    color: red;
}

.transLimit{
    margin-left:500px;
}

.transLimit2{
    margin-left:380px;
}

@media only screen and (max-width: 1200px) {
    .emptyCartSpan{
        margin-left: 0px;
    }
    .orderBtn{
        margin-left: 250px;
    }
    .transLimit{
        margin-left: 250px;
    }
    .transLimit2{
        margin-left:120px;
    }
}