.myAdminBtn{
    width: 25%;
}

.table{
    text-align: center;
}

.userSpanAdmin{
    margin-left: 500px;
    font-size: xx-large;
  }

  @media only screen and (max-width: 1200px) {
    .userSpanAdmin{
        margin-left: 80px;
      }
  }