.headerParentDiv {
    padding: 10px;
    background-color: whitesmoke;
    position: fixed;
    width: 100vw;
    z-index: 999;
  }
  
  .headerChildDiv {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  

  
  .productSearch {
    width: 35em;
    height: 48px;
    border: 2px solid #002f34;
    border-radius: 4px;
    display: flex;
    align-items: center;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  
  .productSearch .input {
    width: 100%;
    height: 100%;
    display: flex;
  }
  
  .productSearch .input input {
    border-color: transparent;
    outline-color: transparent;
    width: 100%;
    align-items: center;
  }
  
  .productSearch .searchAction {
    min-width: 48px;
    height: 48px;
    position: relative;
    display: flex;
    cursor: pointer;
    background-color: #002f34;
    border-radius: 0 4px 4px 0;
  }
  
  .productSearch .searchAction svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    fill: white;
  }
  

  
  .span {
    text-decoration: none;
    font-size: 16px;
    white-space: normal;
    text-overflow: ellipsis;
    font-weight: bolder;
    margin-right: 5px;
  }
  
  .loginPage hr {
    margin: 0;
    background-color: black;
    height: 2px;
  }
  
  .loginPage a{
    text-decoration: none;
  }

  
  .sellMenu .sellMenuContent {
    display: flex;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 14px;
    font-weight: 700;
    letter-spacing: 0.5px;
    color: #002f34;
  }
  
  /* .sellMenu .sellMenuContent svg {
    align-items: center;
  } */
  .sellMenu .sellMenuContent span {
    margin-left: 5px;
  }
  
  @media only screen and (max-width: 1200px) {
    
    .productSearch{
        width: 23%;
    }

    .logoDiv{
      width : 90px;
      
    }

    
  }

  .searchIcon{
    color:white;
    margin-top:11px;
    margin-left:15px
  }

  .sellMenu{
      margin-right: 10px;
  }

  .sellMenu:hover{
    color: blue;
    cursor: pointer;
  }

  .logoDiv{
    height: 90px
  }

  .logoutSpan:hover{
    color: blue;
    cursor: pointer;
  }

  .loginPage{
    margin-right: 15px;
    
  }

  .loginPage:hover{
    cursor: pointer;
    color: blue;
  }

 .linkComponent{
   text-decoration: none;
   color: black;
 }

 .linkComponent:hover{
   color: blue;
 }