.bannerParentDiv {
    padding-top: 4em;
    /* margin-top: 100px; */
  }
 
  .bannerParentDiv .bannerChildDiv .menuBar {
    display: flex;
    padding: 10px 16px 10px 16px;
  }
  
 
  
  .bannerParentDiv .bannerChildDiv .menuBar .categoryMenu span {
    margin-right: 16px;
    font-weight: bolder;
  }
  

  .bannerParentDiv .bannerChildDiv .menuBar .otherQuickOptions span {
    padding: 10px;
  }
  
  .bannerChildDiv .banner {
    position: relative;
    width: 100vw;
    
  }
  .bannerChildDiv .banner img{
    width: 100vw;
    
  }
  


.bannerLink{
  color: black;
  text-decoration: none;
}

.bannerLink:hover{
  color: blue;
}

.adminBtn{
  margin-left: 690px;
}

@media only screen and (max-width: 1200px) {
    
  .bannerChildDiv .banner {
    position: relative;
  }

  .adminBtn{
    margin-left: 0px;
  }
}
